<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adev.root.snipps">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".Activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.BooksActivity"
            android:label="@string/app_name"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".Activities.NewBookActivity"
            android:label="@string/title_activity_new_book"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.BarcodeScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.SnippetActivity"
            android:label="@string/title_activity_snippet"
            android:theme="@style/ActivityTheme"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.adev.root.snipps.Activities.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".Activities.CropActivity" />
        <activity android:name=".Activities.AddSnippetActivity" />
        <activity
            android:name=".Activities.OpenSnippetActivity"
            android:theme="@style/OpenActivityTheme" />

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name=".Activities.OcrshowActivity"
            android:theme="@style/OcrActivityTheme" />
        <activity
            android:name=".Activities.DrawImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/OpenActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".NotesActivity" android:theme="@android:style/Theme.Holo.Dialog"></activity>
    </application>

</manifest>